@import url(http://fonts.googleapis.com/css?family=Open+Sans:700);

body {
  background-color: rgb(51, 51, 51);
  font-family: 'Open Sans', sans-serif;
}

.outer_extreme {
  display: table;
  height: 100%;
  position: absolute;
  width: 100%;
}

.outer {
    display: table-cell;
    vertical-align: middle;
    text-align: center;
}

.info_card {
  border-radius: 4px;
  margin: auto;
  padding: 10px;
  text-align: center;
  width: 40%;
}

.logo {
  height: 200px;
}

.error {
  border-radius: 4px;
  color: rgb(204, 41, 0);
  margin: 0 auto 10px;
  width: 50%;
}

.username_search_field {
  font-size: 40px;
  padding: 10px;
  text-align: center;
  color: rgb(100, 100, 100);
}

.username_search_field:focus {
  outline: none;
  color: rgb(51, 51, 51);
}
