<div class="info_card logo_container">
  <img class="logo" src="/assets/flutterlogo.png" alt="flutter" />
  <input class="username_search_field" type="text" id="username_search_field" placeholder="Username" onfocus="this.placeholder = ''" />
</div>
