<section class="mdl-grid">
  <div class="info-card mdl-card mdl-cell mdl-cell--6-col-desktop mdl-cell--8-col-tablet mdl-cell--4-col-phone mdl-shadow--3dp">
    <div class="index-modal mdl-card__supporting-text">
      Flutter!
  </div>
  </div>
</section>