<section class="mdl-grid">
  <div class="info-card mdl-card mdl-cell mdl-cell--6-col-desktop mdl-cell--8-col-tablet mdl-cell--4-col-phone mdl-shadow--3dp">
    <div class="index-modal mdl-card__supporting-text">
    <h2> Welcome to Flutter</h2>
      <form id="username-search-form" action="#">
        <div class="mdl-textfield mdl-js-textfield textfield-demo">
          <input class="index-username-search mdl-textfield__input" type="text" id="username-search" />
          <label class="index-search-label mdl-textfield__label" for="username-search">Username...</label>
        </div>
      </form>
  </div>
  </div>
</section>